include mixin.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="color_type.css")
        title Document
    body
        .content.flex
            .colors-block
                +color-element('$dark100','Dark Shade 100%','#1F2041')
                +color-element('$dark100','Dark Shade 100%','#1F2041')
                +color-element('$dark100','Dark Shade 100%','#1F2041')
                +color-element('$dark100','Dark Shade 100%','#1F2041')
                +color-element('$dark100','Dark Shade 100%','#1F2041')
                +color-element('$dark100','Dark Shade 100%','#1F2041')
                +color-element('$dark100','Dark Shade 100%','#1F2041')
            .fonts-block